<template>
    <v-card>
        <v-form ref="form" v-model="valid" lazy-validation> 
        <v-card-title>
            <span>Edit User</span>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-text-field
                  :v-model="editedUser && editedUser.name || newUser.name"
                  :counter="30"
                  :rules="nameRules"
                  label="Name"
                  outlined
                  required
                ></v-text-field>

                <!-- <v-text-field
                  type="number"
                  :v-model="editedUser && editedUser.age || newUser.age"
                  :counter="3"
                  :rules="ageRules"
                  label="Age"
                  outlined
                  required
                ></v-text-field> -->

                <!-- <v-text-field
                  v-model="editedUser.location"
                  :rules="locationRules"
                  label="Address"
                  outlined
                  required
                ></v-text-field> -->
            </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn color="error" class="mr-4" @click="reset">Clear</v-btn>
            <!-- <v-btn color="success" @click="saveUser">Submit</v-btn> -->
        </v-card-actions>
        </v-form>
      </v-card>
</template>

<script>
// import UserDataServices from "../services/UserDataServices";

export default {

  name: "EditUser",
  props: ['users', 'username', 'showEditDialog', 'editedUser'],
  data() {
    return {
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 30 characters',
      ],
      age: '',
      ageRules: [
        v => !!v || 'Age is required',
        v => (v && v.length <= 3) || 'Age must be less than 3 characters',
      ],
      location: '',
      locationRules: [
        v => !!v || 'Address is required',
      ],
      newUser: {
          name: ''
      },
      submitted: false
    };
  },
  methods: {
    validate () {
        this.$refs.form.validate()
      },
    reset () {
      this.$refs.form.reset()
    },

  },
};
</script>
