<template>
  <div>
    <v-row>
      <v-col><h3>Users List</h3></v-col>
    </v-row>
    <v-row>
      <v-col md="5">
        <v-text-field label="Search By User Name" v-model="searchByUserName" 
        outlined 
        append-icon="mdi-account-search-outline"
        @keydown.enter="searchUserName"></v-text-field>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="users"
      :items-per-page="5"
      class="elevation-1"
    >
      <template v-slot:item.URL="{ item }">
        <div class="text-truncate" style="width: 180px">
            <a :href="item.URL" target="_new">{{item.URL}}</a>
        </div>
      </template>
      <template v-slot:item.action="{item}">
        <v-btn icon>
          <v-icon medium color="blue" @click="showEditDialog(item)">mdi-account-edit-outline</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon medium color="red" @click="deleteUser(item)">mdi-trash-can-outline</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on }">
        <div class="d-flex">
            <v-btn color="primary" dark class="ml-auto ma-3" v-on="on">
                New <v-icon small>mdi-plus-circle-outline</v-icon>
            </v-btn>
        </div>
      </template>
      <v-card>
                    <v-card-title>
                        <span v-if="editedItem.id">Edit {{editedItem.id}}</span>
                        <span v-else>Create</span>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                          <v-col cols="12" sm="4">
                            <v-text-field v-model="editedItem.Name" label="Name"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="8">
                            <v-text-field v-model="editedItem.Details" label="Details"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12">
                            <v-text-field v-model="editedItem.URL" label="URL"></v-text-field>
                          </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="showEditDialog()">Cancel</v-btn>
                      <v-btn color="blue darken-1" text @click="saveItem(editedItem)">Save</v-btn>
                    </v-card-actions>
                  </v-card>
      <!-- <div v-if="editedUser.Name"><EditUser/></div>
      <div v-else><NewUser/></div> -->
    </v-dialog>
  </div>
</template>

<script>
import UserDataServices from "../services/UserDataServices";
// import NewUser from './NewUser';
// import EditUser from './EditUser';
const apiToken = "keyZIIVNiQPvozEWb"
const airTableApp = "appXJzFFs2zgj4X5C"
const airTableName = "Example"
import axios from "axios";


export default {
    // components: {
    //   NewUser, EditUser
    // },
    name: 'Home',

    data () {
      return {
        searchByUserName: '',
        headers: [
          {
            text: 'ID',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Name', value: 'Name' },
          { text: 'Details', sortable: false, value: 'Details' },
          { text: 'URL', sortable: false, value: 'URL' },
          { text: 'Action', sortable: false, value: 'action' },
        ],
        users: [],
        dialog: false,
        editedItem: {}
      }
    },
    methods: {
      showEditDialog(user) {
        this.editedItem = user || {}
        this.dialog = !this.dialog
      },

      retrieveUsersList() {
        UserDataServices.getAll()
          .then((response) => {
            this.users = response.data.records.map((item)=>{
              return {
                id: item.id,
                ...item.fields
              }
            })
          }).catch((error) => {
            console.log(error)
          })
      },

      searchUserName() {
        console.log('searchUserName', this.searchByUserName)
        // TutorialDataService.findByTitle(this.title)
        //   .then(response => {
        //     this.tutorials = response.data;
        //     console.log(response.data);
        //   })
        //   .catch(e => {
        //     console.log(e);
        //   });
      },

      deleteUser(user) {
        let id = user.id
        let idx = this.users.findIndex(item => item.id===id)
        console.log(idx)
        if (confirm('Are you sure you want to delete this?')) {
            /* not really deleting in API for demo */
            /*
            axios.delete(`https://api.airtable.com/v0/${airTableApp}/${airTableName}/${id}`,
                { headers: { 
                    Authorization: "Bearer " + apiToken,
                    "Content-Type": "application/json"
                }
            }).then((response) => {
                this.items.splice(idx, 1)
            })*/
            this.users.splice(idx, 1)      
        }
      },

      saveItem(item) {
               /* this is used for both creating and updating API records
         the default method is POST for creating a new item */
         
        let method = "post"
        let url = `https://api.airtable.com/v0/${airTableApp}/${airTableName}`
        let id = item.id
        
        // airtable API needs the data to be placed in fields object
        let data = {
            fields: item
        }
        
        if (id) {
            // if the item has an id, we're updating an existing item
            method = "patch"
            url = `https://api.airtable.com/v0/${airTableApp}/${airTableName}/${id}`
            
            // must remove id from the data for airtable patch to work
            delete data.fields.id
        }

        // save the record
        axios[method](url,
            data,
            { headers: { 
                Authorization: "Bearer " + apiToken,
                "Content-Type": "application/json"
            }
        }).then((response) => {
            if (response.data && response.data.id) {
                console.log(response.data)
                // add new item to state
                this.editedItem.id = response.data.id
                if (!id) {
                    // add the new item to items state
                    this.users.push(this.editedItem)
                }
                this.editedItem = {}
            }
            this.dialog = !this.dialog
        })
      }

    },
    mounted() {
      this.retrieveUsersList();
    }
  }
</script>
