<template>
    <v-card>
        <v-form ref="form" v-model="valid" lazy-validation> 
        <v-card-title>
            <span>New User</span>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-text-field
                  v-model="newUser.name"
                  :counter="30"
                  :rules="nameRules"
                  label="Name"
                  outlined
                  required
                ></v-text-field>

                <v-text-field
                  v-model="newUser.detail"
                  label="Detail"
                  outlined
                  required
                ></v-text-field> 

                <v-text-field
                  v-model="newUser.url"
                  label="URL"
                  outlined
                  required
                ></v-text-field>
            </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn color="error" class="mr-4" @click="reset">Clear</v-btn>
            <v-btn color="success" @click="saveUser">Submit</v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
</template>

<script>
// import UserDataServices from "../services/UserDataServices";

export default {

  name: "NewUser",
  props: ['users', 'username', 'showEditDialog', 'editedUser'],
  data() {
    return {
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 30 characters',
      ],
      age: '',
      ageRules: [
        v => !!v || 'Age is required',
        v => (v && v.length <= 3) || 'Age must be less than 3 characters',
      ],
      location: '',
      locationRules: [
        v => !!v || 'Address is required',
      ],
      newUser: {
          name: '',
          detail: '',
          url: ''
      },
      submitted: false
    };
  },
  methods: {
    validate () {
        this.$refs.form.validate()
      },
    reset () {
      this.$refs.form.reset()
    },
    saveUser () {
        
    }
  },
};
</script>
