<template>
  <div v-if="!submitted">
  <v-container>
    <v-row>
      <v-col><h3>Add User Form</h3></v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-form ref="form" v-model="valid" lazy-validation> 
          <v-text-field
            v-model="user.name"
            :counter="30"
            :rules="nameRules"
            label="Name"
            outlined
            required
          ></v-text-field>

          <v-text-field
            type="number"
            v-model="user.age"
            :counter="3"
            :rules="ageRules"
            label="Age"
            outlined
            required
          ></v-text-field>

          <v-text-field
            v-model="user.location"
            :rules="locationRules"
            label="Address"
            outlined
            required
          ></v-text-field>
          
          <v-btn color="error" class="mr-4" @click="reset">Clear</v-btn>

          <v-btn color="success" @click="saveUser">Submit</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
  </div>
  <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newUser">Add</button>
  </div>

</template>

<script>
// import UserDataServices from "../services/UserDataServices";

export default {
  name: "NewUser",
  data() {
    return {
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 30 characters',
      ],
      age: '',
      ageRules: [
        v => !!v || 'Age is required',
        v => (v && v.length <= 3) || 'Age must be less than 3 characters',
      ],
      location: '',
      locationRules: [
        v => !!v || 'Address is required',
      ],
      user: {
        id: null,
        name: "",
        age: "",
        location:"",
        published: false
      },
      submitted: false
    };
  },
  methods: {
    validate () {
        this.$refs.form.validate()
      },
    reset () {
      this.$refs.form.reset()
    },
    saveUser() {
      var data = {
        name: this.user.name,
        age: this.user.age,
        location: this.user.location
      };
    console.log('data===>', data)
      // UserDataServices.create(data)
      // console.log('dataa',data)
      //   .then(response => {
      //     this.user.id = response.data.id;
      //     console.log(response.data);
      //     this.submitted = true;
      //   })
      //   .catch(e => {
      //     console.log(e);
      //   });
    },
    
    newUser() {
      this.submitted = false;
      this.user = {};
    }
  }
};
</script>
