<template>
    <div>
        <v-select
            :items="area.division"
            item-text="name"
            item-value="cd"
            label="Select Division"
            v-model="selectedDivision"
            @change="selectDivision"
        ></v-select>
        <v-select 
            :disabled="selectedDivision ? false : true"
            :items="filterDistrict"
            item-text="name"
            item-value="cd"
            label="Select District"
            @change="selectDistrict"

        ></v-select>
        <v-select 
            :disabled="selectedDistrict && selectedDivision ? false : true"
            :items="filterTownship"
            item-text="name"
            item-value="cd"
            label="Select Township"
            @change="selectTownship"
        ></v-select>
        <v-btn color="primary" @click="showData">click me</v-btn>
    </div>
</template>

<script>

export default {
  name: "Test",
  data() {
    return {
        selectedDivision: '',
        selectedDistrict: '',
        selectedTownship: '',
        filterDistrict: [],
        filterTownship: [],
        area : {
            division: [
                { name: "Yangon Division", cd: "mm-01", pcd: "" },
                { name: "Mandalay Division", cd: "mm-02", pcd: "" }
            ],
            district: [
                { name: "East Yangon District", cd: "mm-01-01", pcd: "mm-01" },
                { name: "North Yangon District", cd: "mm-01-02", pcd: "mm-01" },
                { name: "South Yangon District", cd: "mm-01-03", pcd: "mm-01" },
                { name: "Kyautse District", cd: "mm-02-01", pcd: "mm-02" },
                { name: "Mandalay District", cd: "mm-02-02", pcd: "mm-02" },
                { name: "Meiktila District", cd: "mm-02-03", pcd: "mm-02" }
            ],
            township: [
                { name: "Botataung Township", cd: "mm-01-01-01", pcd: "mm-01-01" },
                { name: "Hlaingthaya Township", cd: "mm-01-02-01", pcd: "mm-01-02" },
                { name: "Dala Township", cd: "mm-01-03-01", pcd: "mm-01-03" },
                { name: "Kyautse Township", cd: "mm-02-01-01", pcd: "mm-02-01" },
                { name: "Amarapura Township", cd: "mm-02-02-01", pcd: "mm-02-02" },
                { name: "Mahlaing Township", cd: "mm-02-03-01", pcd: "mm-02-03" }
            ]
        }
    };
  },
  methods: {
    selectDivision(divsion_cd) {
        this.selectedDivision = divsion_cd
        this.filterDistrict = this.area.district.filter((district) => district.pcd === this.selectedDivision)
    },
    selectDistrict(district_cd) {
        this.selectedDistrict = district_cd
        this.filterTownship = this.area.township.filter((township) => township.pcd === this.selectedDistrict)
    },
    selectTownship(township_cd) {
        this.selectedTownship = township_cd
    },
    showData() {
        console.log('selected cd value of division : ', this.selectedDivision);
        console.log('selected cd value of district : ', this.selectedDistrict);
        console.log('selected cd value of township : ', this.selectedTownship);

    }
  },
  computed: {
    //   filterDistrict() {
    //       return this.area.district.filter((district) => district.pcd === this.selectedDivision)
    //    }
  }

};
</script>
