<template>
    <div>
        <v-select
            :items="area.division"
            item-text="name"
            item-value="cd"
            label="Select Division"
            v-model="selectedDivision"
            @change="selectDivision"
        ></v-select>
        <v-select 
            :disabled="selectedDivision ? false : true"
            :items="filterDistrict"
            item-text="name"
            item-value="cd"
            label="Select District"
            @change="selectDistrict"

        ></v-select>
        <v-select 
            :disabled="selectedDistrict && selectedDivision ? false : true"
            :items="filterTownship"
            item-text="name"
            item-value="cd"
            label="Select Township"
            @change="selectTownship"
        ></v-select>
        <v-btn color="primary" @click="showData">click me</v-btn>
    </div>
</template>

<script>
import jsonArea from '../assets/data.json';

export default {
  name: "Test",
  data() {
    return {
        selectedDivision: '',
        selectedDistrict: '',
        selectedTownship: '',
        filterDistrict: [],
        filterTownship: [],
        area : {}
    };
  },
    async created() {
    this.db = await this.getDb();
    let areafromdb = await this.getAreaFromDb();
          if(areafromdb.length == 0) {
            console.log("no data found in db")
            this.area = jsonArea
            await this.addAreaToDb(jsonArea);
          } else {
            console.log('areafromdb', areafromdb[0])
            this.area = areafromdb[0]
          }
   },

  methods: {
      async getDb() {
      return new Promise((resolve, reject) => {

        let request = window.indexedDB.open('area', 1);
        
        request.onerror = e => {
          console.log('Error opening db', e);
          reject('Error');
        };
  
        request.onsuccess = e => {
          resolve(e.target.result);
        };
        
        request.onupgradeneeded = e => {
          console.log('onupgradeneeded');
          let db = e.target.result;
           /* eslint-disable */
          let objectStore = db.createObjectStore("area", { autoIncrement: true, keyPath:'areaId' });
        };
      });
    },

    async getAreaFromDb() {
      return new Promise((resolve) => {

        let trans = this.db.transaction(['area'],'readonly');
        trans.oncomplete = e => {
            console.log(e)
          resolve(area);
        };
        
        let store = trans.objectStore('area');
        let area = [];
        
        store.openCursor().onsuccess = e => {
          let cursor = e.target.result;
          if (cursor) {
            area.push(cursor.value)
            cursor.continue();
          }
        };

      });
    },

    async addAreaToDb(area) {
        
        return new Promise((resolve) => {

            let trans = this.db.transaction(['area'],'readwrite');
            trans.oncomplete = e => {
            console.log(e)

            resolve();
            };

            let store = trans.objectStore('area');
            store.add(area);
        });
    },

    selectDivision(divsion_cd) {
        this.selectedDivision = divsion_cd
        this.filterDistrict = this.area.district.filter((district) => district.pcd === this.selectedDivision)
        this.filterTownship = []
        this.selectedDistrict =''
        this.selectedTownship = ''
    },
    selectDistrict(district_cd) {
        this.selectedDistrict = district_cd
        this.filterTownship = this.area.township.filter((township) => township.pcd === this.selectedDistrict)
        this.selectedTownship = ''
    },
    selectTownship(township_cd) {
        this.selectedTownship = township_cd
    },
    showData() {
        console.log('selected cd value of division : ', this.selectedDivision);
        console.log('selected cd value of district : ', this.selectedDistrict);
        console.log('selected cd value of township : ', this.selectedTownship);

    }
  },
};
</script>
