<template>
  <div id="app">
    <v-app>
        <v-app-bar app color="primary" dark elevation="0">
            <v-app-bar-nav-icon @click.stop="sidebarMenu = !sidebarMenu"></v-app-bar-nav-icon>
            <!-- <span>{{chooseItemText}}</span> -->
            <v-spacer></v-spacer>
            <v-btn @click="toggleTheme" color="primary" class="mr-2">{{themeButtonText}}</v-btn>
            <v-icon>mdi-account</v-icon>
        </v-app-bar>
        <v-navigation-drawer 
            v-model="sidebarMenu" 
            app
            floating
            :permanent="sidebarMenu"
            :mini-variant.sync="mini"
            >
            <v-list dense color="primary" dark>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon @click.stop="sidebarMenu = !sidebarMenu">mdi-chevron-left</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            <h3 class="font-weight-thin">Admin Dashboard</h3>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-list-item class="px-2" @click="toggleMini = !toggleMini">
                <v-list-item-avatar>
                    <v-icon>mdi-account-outline</v-icon>
                </v-list-item-avatar>
                <v-list-item-content class="text-truncate">
                    {{adminName}}
                </v-list-item-content>
                <v-btn icon small>
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
            </v-list-item>
            <v-divider></v-divider>
            <v-list>
                <v-list-item v-for="item in items" :key="item.title" link :to="item.href" @click="chooseItem(item)">
                    <v-list-item-icon>
                        <v-icon color="primary">{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-main>
            <v-container class="px-4 py-0 fill-height" fluid>
                <v-row class="fill-height">
                    <v-col>
                        <transition name="fade">
                            <router-view></router-view>
                        </transition>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
        <v-footer class="py-3">
            <span class="ml-auto overline">acp &copy;2020</span>
        </v-footer>
    </v-app>
  </div>
</template>

<script>

export default {
  name: 'App',
  computed: {
  mini() {
      return (this.toggleMini || this.$vuetify.breakpoint.smAndDown)
  },
},
data: () => ({
    sidebarMenu: true,
    toggleMini: false,
    themeButtonText: 'Go Dark',
    adminName: 'Aye Chan Phyo',
    chooseItemText: '',
    items: [
      { title:"Home", href:"/", icon:"mdi-home-outline" },
      { title:"Settings", href:"/settings", icon:"mdi-settings-outline" },
      // { title:"Components", href:"/comp", icon:"mdi-palette-swatch" },
      // { title:"Customers", href:"/customers", icon:"mdi-account-search-outline" },
      // { title:"Orders", href:"/orders", icon:"mdi-bus-clock" },
      // { title:"Settings", href:"/settings", icon:"mdi-settings-outline" },
    ],
}),
methods: {
  toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      this.themeButtonText =     this.$vuetify.theme.dark ? 'Go Light' : 'Go Dark'
  },
  chooseItem(item) {
      console.log('choose Item', item)
      this.chooseItemText = item.title
  }
}
};
</script>
